@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
    box-sizing:border-box
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(137, 231, 129);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 600px;
}

.container {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    width: 350px;
}

.header {
    background-color: #ffffff;
    padding: 20px 40px;
}

.header h2 {margin:0; text-align: center;}

.form {
    padding: 30px 40px;
}

.inp {
    margin-bottom:10px;
    padding-bottom:2px;
    position: relative;
}
.inp > #codigo {
    margin-bottom: 20px;
}

label {
    font-weight: 800;
}

small {
    visibility: hidden;
}

.avail {
    margin:10px;
    display:inline-block;
    position:absolute;
    top: 560px;
    left: 37%
}

.del {
    margin:10px;
    display:inline-block;
    position:absolute;
    top: 560px;
    right: 37%
}

button {
    color:black;
    background-color: rgb(75, 159, 75);
    border: 2px solid rgb(75, 159, 75);
    width: 100%;
    font-size: 16px;
    padding: 10px;
    font-weight: 700;
}

button:active {
    background-color: rgb(68, 130, 68);
}

.result {
    background-color: rgb(119, 186, 119);
    color:black;
}